<div class="container home">
  <div class="top"> 
  	<div class="trv_origin">
  		Travel Origin Location: {{origin_location}}
  	</div>

    <div class="middle">
      <h2>Vacation planning made easy</h2>

      <h2>Create and book your custom itenarary</h2>


      <span class="button" ng-click="plan">
      	<a class="btn btn-lg btn-success" href="#" role="button">Start Planning Now</a>		
      </span>
    </div>
  </div>
  <div class="hints row">
  	<div class="hint1 col-md-4">
  		<h4>Give your preferences and create your itenarary</h4>
      <p>Our wizard will guide you along the way with suggestions and recomendations</p>
  	</div>

  	<div class="hint2 col-md-4"> 
  		<h4>Review and refine your itenerary</h4>  		
  			<ul>
  				<li>Travel mode</li>
  				<li>Stay</li>
  				<li>Attractions</li>
  				<li>Activities</li>
  				<li>Events</li>
  			</ul>  		
  	</div>

  	<div class="hint3 tools col-md-4">
  			<ul>
  				<li>Save</li>
  				<li>Share</li>
  				<li>Print</li>
  				<li>Download</li>
  			</ul>
  	</div>

   </div>

</div>