<div class="container">
	<div class="trv_origin">
		Travel Origin Location: {{origin_location}}
	</div>

  <p>Vacation planning made easy</p>

  <p>Create and book your custom itenarary</p>

  <span class="button" ng-click="plan">
  	Start Planning Now		
  </span>

  <div class="hints">
  	<div class="hint1">
  		<h4>Give your preferences and create your itenarary</h4>
      <p>Our wizard will guide you along the way with suggestions and recomendations</p>
  	</div>

  	<div class="hint2"> 
  		<h4>Review and refine your itenerary</h4>  		
  			<ul>
  				<li>Travel mode</li>
  				<li>Stay</li>
  				<li>Attractions</li>
  				<li>Activities</li>
  				<li>Events</li>
  			</ul>  		
  	</div>

  	<div class="hint3 tools">
  			<ul>
  				<li>Save</li>
  				<li>Share</li>
  				<li>Print</li>
  				<li>Download</li>
  			</ul>
  	</div>
   	<div class="clear"> </div>
   </div>

</div>